body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
  }
  
  header {
    background: #222;
    color: white;
    padding: 30px;
    text-align: center;
  }
  
  section {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
  }
  
  h2 {
    color: #333;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li {
    background: #ddd;
    margin: 5px 0;
    padding: 8px;
    border-radius: 4px;
  }
  
  .project {
    border-left: 4px solid #333;
    padding-left: 10px;
    margin-bottom: 10px;
  }
  
  footer {
    text-align: center;
    padding: 10px;
    background: #222;
    color: white;
  }
img {
  size: 10px;
  width: 75px;
   vertical-align: top;
}
  